
*.xml

*.iml

*.pyc

ExoPlex/PerPlex/build

ExoPlex/PerPlex/werami

ExoPlex/PerPlex/vertex

*.arf

*.blk

*.log

Examples/*.dat

*.plt

*.tof

*.tab

Solutions/*.dat

Solutions/Grids/*.dat

Examples/*.txt

Solutions/*.txt

start_here/*.dat

start_here/*.txt

exoplex/Examples/

exoplex/start_here/

exoplex.egg-info/

dist/

tests/

